header{
    padding: 0;
    margin: 0;
}
header nav ul {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    gap: 25px;
    list-style: none;
    color: black;
    width: 100%;
    justify-content: end;
}
header nav ul li a{
    text-decoration:none;
    color: black;
}
header nav ul li:hover a{
    text-decoration: underline;
}


header nav {
    padding: 50px;

}
.change_langue{
    border: none;
    background: none;
    cursor: pointer;
}
.change_langue:hover{
    border: 1px solid violet;
    border-radius: ;

}